
:root{
  --h1: 6.5rem;
  --h2: 6rem;
  --h3: 5rem;
  --h4: 4rem;
  --h5: 3rem;
}
head,
body,
*{
  background-color: rgb(192, 192, 192);
}
.btn2{
  font-size: var(--h2);
  text-align: center;
}
.query{
  align-items: center;
  size: var(--h2);
}
h2{
  font-family: 'Heebo', sans-serif;
}