
:root{
  --h1: 7.5rem;
  --h2: 6rem;
  --h3: 5rem;
  --h4: 4rem;
  --h5: 3rem;
}
head,
body,
*{
  background-color: silver;
}
h1{
  font-family: 'Heebo', sans-serif;
  font-size: var(--h1);
  text-align: center;
}